doctype html
html
  head
    meta(name="viewport", content="width=device-width, height=device-height, initial-scale=1.0")
    title= "HELLO"
    link(rel="stylesheet", href="/css/reset.css")
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/index.css')
  body
    div(class="wrapper")
      block content
      block footer
      script(src="/js/jquery.js")
      script(src="/js/bootstrap.min.js")



