//
   Created by ywj on 15/7/22.
extends layout

block content
   form(class='form-group form-inline')
      label(for='username') 用户名:
         input(class='form-control', placeholder='姓名' name='username',value=username?username:"" type='text')



