//
   Created by ywj on 15/7/22.
extends layout

block form
   form(class='form-group form-inline')
      label(for='username') username
         input(class='form-control', placeholder='姓名' name='username',value='#{username}' type='text')


