//
   Created by ywj on 15/7/28.

h4 概况
p 本人编程经验丰富,动⼿手能⼒力强,具有扎实的关于HTML，CSS，js的基础，能熟练使用Jquery等前端框架。对⼯工作认真负责,有很好的团队交流合作能⼒力。有较好的独⽴立解决问题的能⼒。
h4 经历
div
   h5 百度时代网络技术(北京)有限公司-商务搜索部-前端开发工程师(2015年4月)
   p 本项目使用html和smarty模版语言以及css，javascript实现广告样式，包括手机端和PC端，主要需要解决的问题是不同浏览器的兼容性问题。
   h5 新浪 平台架构部 软件开发工程师(2014年7月-2015年1月)
   p 本项目是对海量日志数据进行分析，定制生成图表，形成报告提供给分析人员。主要功能有数据导入、查询以及绘图等。后台逻辑采用django框架，前端采用css+js+bootstraps+angularjs. 在此次项目中，本人负责模块有导入模块，数据压缩模块，用户和组管理模块,并负责了画图模块的修改和维护。
   h5 赶集旗下瓜子网 前端开发工程师 (2012年2月-2012年4月)
   p 本项目是一个基于位置社区的服务网站项目，增进社区间的交流，并以社区为单位推送新鲜事。本人主要负责html+css制作模版。在此次项目中，加深了我对网站架构的认识，增强了我对自己编程能力的信心。
   h4 教育
   p.
      研究生阶段：2013-2014年北京航空航天大学年度三好学生, 软件学院创新科技奖学金以及优秀助研奖学金。发表EI级别论文两篇，其中一篇“START: Status and Region Aware Taxi Mobility Model for Urban Vehicular Networks”发表在International Workshop on Smart Cities and Urban Informatics in conjunction with IEEE INFOCOM 2015(INFOCOM为计算机网络领域三大会议之一)。
   p.
      本科生阶段：2009-2010年获校学习优秀奖学金三等奖。2011年获得建党90周年优秀志愿者称号。2012-2013年获得北京航空航天大学优秀毕业生荣誉，并保送研究生到北航软件学院。
   h4 技能
   p.
      熟练掌握java, python,同时也使用过C#,C++等语言，具有django, .Net, SSH框架的网站开发经验。对新语言有很强的学习能力。
   p.
      熟悉HTML,CSS, javascript，能快速理解并使用bootstraps, Jquery等前端框架和方法库，对angularjs, nodejs有初步了解。
   p.
      熟悉并使用过Git, SVN, Hg等版本控制工具，并有很好的代码保存习惯，在https://github.com/yangwenjing维护有部分代码。
   p 英语六级