extends layout
block content
   h3 杨文静的简历
   div(class="main")
      div(class="side")
         img(src="img/photo.png",class="img-thumbnail profile-img",alt="profile image")
      article(class="intro")
         include introContent.jade