doctype html
html
  head
    meta(name="viewport", content="width=device-width, height=device-height, initial-scale=1.0")
    title= "HELLO"
    link(rel="stylesheet", href="/css/reset.css")
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/index.css')
  body
    nav
      ul(class="nav nav-pills")
        li(class="active")
          a(href="/") 主页
        li
          a(href="/users") 简历
        li(class="dropdown")
          a(href="#",role="button",data-target="#", aria-haspopup="true" ,aria-expanded="false",data-toggle="dropdown") 其他功能<span class="caret"></span>
          ul(class="dropdown-menu")
            li item1
            li item2
            li item3
      h1(class="logo")
        a(href="/")= "HELLO"
    div(class="wrapper")
      block content

      block footer
      script(src="/js/jquery.js")
      script(src="/js/bootstrap.min.js")



