nav {
    padding: 0 10%;
    background: lightgoldenrodyellow;
    position: relative;
}
.wrapper {
    background: -webkit-linear-gradient(to top, white,lightgoldenrodyellow);
    background: -moz-linear-gradient(to top, white,lightgoldenrodyellow);
    background: linear-gradient(to top, white,lightgoldenrodyellow);
    padding: 1% 10%;
}
.logo {
    -webkit-animation: ToggleMove 5s ease-in 1s 1;
    -moz-animation: ToggleMove 5s ease-in 1s 1;
    animation: ToggleMove 5s ease-in 1s 1;
    transform: skewX(-30deg);
    position: absolute;
    right: 10%;
    top: 0;
    margin: 0;
}

@keyframes ToggleMove{
    0% { right: 60%; color: red; opacity: 0;}
    100% { right: 10%; color: red; opacity: 1;}
}
.profile-img {
    width: 140px;
}
.main {
    display: -webkit-flex;
    display: flex;
}
.side {
    -webkit-flex: 1;
    flex: 1;
}
.intro {
    -webkit-flex: 4;
    flex: 4;
    background: lightgoldenrodyellow;
    padding: 0 10px;
}
h4 {
    color: #337ab7;
}
h5 {
    border-left: 3px solid #337ab7;
    padding-left: 5px;
    margin-left:-10px;
}